<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue - Hello</title>
</head>

<body>
    <!--Qui agisce VueJS-->
    <!--SE LO METTI QUI FUORI NON FUNZIONERA'-->
    <div id="app">

        <!--Text Interpolatio {{Qui proprietà Js}}-->
        <h1>{{message}}</h1>

        <!--v-bind è una sintassi che permette di aggiungere variabili tra gli attrubuti-->
        <img v-bind:src="img">
        <!-- Sintassi alternativa: <img :src="img"> -->



        <!--Oltre l'esercizio, miei tentativi personali-->

        <div>
            <!-- v-model tiene costantemente monitorato il valore di message
                e lo cambia anche nell'h1 se dovessi modificarlo input-->
            <input v-model="message">
            <!--Essendo message un oggetto posso utilizzare tutte le proprietà di Js-->
            <!--Tengo monitorata costantemente la lunghezza della stringa-->
            <p>Stringa di message lunga: {{message.length}}</p>

            <!--Chiamare eventi dopo determinati stimoli-->
            <button @click="greetings">Stampa Ciao in Console</button>
            <div><br></div>

            <!--La textarea funziona con v-model-->
            <div><textarea v-model="mytext" cols="10" rows="2"></textarea>
                <p>{{mytext}}</p>
            </div>

            <!-- v-model on selecet-->
            <!--Visualizzo facilemente la selezione-->
            <div>Selected: {{ selected }}</div>
            <select v-model.number="selected" multiple>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>

            

        </div>

    </div>

    <!--Importare Vue-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/app.js"></script>
</body>

</html>